
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e0eaeb;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Containers{
  margin: 5%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
}
